/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

header {

}

main {
  padding-top: 100px;
}

section {
  padding: 50px 0;
}

section:first-child {
    padding-top: 0px;
}

footer {
  padding: 0 0 30px 0;
}


/* Home page styles */
.service-icon {
  margin-bottom: 30px;
  width: 160px;
}

.social-icon {
  margin-right: 0.70rem;
  margin-top: 0.7rem;
  opacity: 0.7;
}

.social-icon:hover {
  opacity: 1.0;
}

.map {
    height: 500px;
    padding: 0;
}

@media(max-width:768px) {
    .map {
        height: 300px;
    }
}

.map iframe {
    pointer-events: none;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.bg-primary a:link, .bg-primary a:visited {
  color: #eceeef; /* gray-lighter */
}

/* Custom Navbar styles */
.navbar h1 {
  display: inline;
  font-size: 22px;
  font-weight: 500;
}

.brand-icon {
  height: 20px;
  vertical-align: baseline;;
}

@media (max-width: 480px) {
  .navbar h1 {
    font-size: 18px;
  }

  .brand-icon {
    height: 18px;
  }
}

@media (max-width: 340px) {
  .navbar h1 {
    font-size: 16px;
  }

  .brand-icon {
      height: 16px;
  }
}

.navbar-toggler {
  color: #FFF;
}

/* Custom Jumbotron styles */
.jumbotron {
  background: url(../img/two_helicopters.jpg) no-repeat center center scroll;
  background-size: cover;
  background-position: bottom;
  display: table-cell;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.jumbotron-content {

}

.jumbotron-logo {

}

.jumbotron .tagline {
  margin: 2.0rem 0;
}

.center-bottom {
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center;
  width: 100%;
}

.skip-to-content-icon {
  color: #FFF;
  opacity: 0.5;
}

.skip-to-content-icon:hover {
  opacity: 1.0;
}

@media (max-height: 550px) {
  .skip-to-content-icon {
    display: none;
  }
}


/* Custom Card Deck styles
 * Based on http://codepen.io/KarlDoyle/pen/pypWbR
 */
.card-deck {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card-deck .card {
  display: block;
  flex-basis: calc(33.3% - 30px);
  margin-bottom: 30px;
  padding-bottom: 50px;
  position: relative;
}

.card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Fix unstacked nav-item problem in Bootstrap 4 alpha-2
 * http://stackoverflow.com/questions/33486653/stacked-collapsible-navbar-in-bootstrap-4
*/
@media(max-width: 767px) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

/* Add top margin to stacked columns
 * https://coderwall.com/p/0jezca/vertical-spacing-for-bootstrap-columns
 */
.row [class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
