---
# Only the main Sass file needs front matter (the dashes are enough)
---


// Import partials from `sass_dir` (defaults to `_sass`)
@import "materialize";


/*** Overrides ***/
// containers
.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 94%;
}

@media #{$medium-and-up} {
  .container {
    width: 90%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 90%;
  }
}

.parallax-container {
  height: 500px;
}


/*** Header ***/
// main logo
.main-logo {
  margin: 7px 0;
}


/*** Main Content ***/
h1, h2, h3, h4, h5, h6 {
  color: #1a237e; // indigo darken-4
}


/*** Footer ***/
footer.page-footer {
  margin-top: 0;
}

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// text colors
footer {
  color: #bdbdbd;  // grey lighten-1

  h1, h2, h3, h4, h5, h6 {
    color: #fff; // white
  }

  a:link, a:visited, a:hover, a:active {
    color: #fff; // white
  }

  a:hover {
    border-bottom: 1px solid #fff; // white
  }
}


/*** Special Content ***/
// parallax
.parallax-full {
    height: calc(100vh - 100px);
}

// social media icons
.social-icon {
  margin-right: 0.75rem;
  opacity: 0.9;
}

.social-icon:hover {
  margin-right: 0.75rem;
  opacity: 1.0;
}
