---
layout: secondary

title: 2013 Black R66

make: Robinson
model: R66
year: 2016
condition: Pre-owned
hours: 269
price: $745,000
seats: 5

short-description: 2013 R66 Turbine

long-description: |
  Air conditioning, Dual coms, Garmin 796 GPS, 4 Bose headsets, Artificial Horizon, Vertical Compass,  25 amp battery, 406 ELT, Transponder w/ Mode C.Optional, Dart emergency float system $775,000

interior: Gray leather interior
exterior: Black with silver trim

youtube-id: bZb-ztL_2nY

main-image: img/for-sale/tim66a.jpg

secondary-images:
  - img/for-sale/tim66a.jpg
  - img/for-sale/tim66b.jpg
---

<h2>{{ page.title }}</h2>

<div class="row">
  <div class="col-xs-12 col-md-6">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-target="#video" data-toggle="tab">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="#exterior" data-toggle="tab">Exterior</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="#interior" data-toggle="tab">Interior</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="video" role="tabpanel">
          <div class="media-item embed-responsive embed-responsive-16by9">
            <iframe width="960" height="720" src="https://www.youtube.com/embed/{{ page.youtube-id }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="tab-pane fade" id="exterior" role="tabpanel">

          <div class="row">
            <div class="col-xs-12">
              <div class="product-thumb">
                <a href="{{ site.github.url }}/{{ page.main-image }}" data-lightbox="gallery" alt="">
                  <img class="img-fluid" src="{{ site.github.url }}/{{ page.main-image }}" data-lightbox="gallery" alt="product image">
                </a>
                <i class="expand-icon fa fa-expand" aria-hidden="true"></i>
              </div>
            </div>

            {% for item in page.secondary-images %}
              <div class="col-xs-4">
                <div class="product-thumb">
                  <a href="{{ site.github.url }}/{{ item }}" data-lightbox="gallery" alt="">
                    <img class="img-fluid" src="{{ site.github.url }}/{{ item }}" data-lightbox="gallery" alt="product image">
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>

        <div class="tab-pane fade" id="interior" role="tabpanel">

          <div class="row">
            <div class="col-xs-12">
              <div class="product-thumb">
                <a href="{{ site.github.url }}/{{ page.main-image }}" data-lightbox="gallery" alt="">
                  <img class="img-fluid" src="{{ site.github.url }}/{{ page.main-image }}" data-lightbox="gallery" alt="product image">
                </a>
                <i class="expand-icon fa fa-expand" aria-hidden="true"></i>
              </div>
            </div>

            {% for item in page.secondary-images %}
              <div class="col-xs-4">
                <div class="product-thumb">
                  <a href="{{ site.github.url }}/{{ item }}" data-lightbox="gallery" alt="">
                    <img class="img-fluid" src="{{ site.github.url }}/{{ item }}" data-lightbox="gallery" alt="product image">
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>

    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Details</h3>

    <table class="table">
      <tr>
        <th>Make:</th>
        <td>{{ page.make }}</td>
      </tr>
      <tr>
        <th>Model:</th>
        <td>{{ page.model }}</td>
      </tr>
      <tr>
        <th>Year:</th>
        <td>{{ page.year }}</td>
      </tr>
      <tr>
        <th>Condition:</th>
        <td>{{ page.condition }}</td>
      </tr>
      <tr>
        <th>Hours:</th>
        <td>{{ page.hours }}</td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>{{ page.price }}</td>
      </tr>
      <tr>
        <th>Exterior:</th>
        <td>{{ page.exterior }}</td>
      </tr>
      <tr>
        <th>Interior:</th>
        <td>{{ page.interior }}</td>
      </tr>
      <tr>
        <th>Details:</th>
        <td>{{ page.long-description }}</td>
      </tr>
    </table>
  </div>
</div>
