---
layout: home
---

<!-- Sales -->
<section id="sales">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img class="img-fluid img-rounded" src="img/sales.jpg" alt="">
      </div>

      <div class="col-xs-12 col-md-6">
        <h2>Aircraft Sales</h2>

        <p>Florida Suncoast Helicopters is the number one new helicopter dealer in the United States. In addition to selling the Robinson R22 and R44, the Company is Florida’s only authorized dealer of the new R66 turbine.</p>

        <p>Check out our <strong><a class="text-danger" href="{{ site.github.url }}/sales.html">full inventory</a></strong> of new and pre-owned helicopters.</p>
      </div>
    </div>
  </div>
</section>

<!-- Service -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 push-md-6">
        <img class="img-fluid img-rounded" src="img/blue_r66_service_1200x800.jpg" alt="R66 in the shop">
      </div>

      <div class="col-xs-12 col-md-6 pull-md-6">
        <h2>Authorized Service</h2>

        <p>FSH Maintenance, LLC is the largest, authorized Robinson Service Center in the Southeast and the leading provider of R66 maintenance in the United States.</p>

        <h4>Services available include:</h4>
        <ul>
        <li>R22, R44, R66 Annuals/100-hr inspections</li>
        <li>Rolls Royce RR300 200-hr and 400-hr inspections</li>
        <li>Overhauls</li>
        <li>Track and Balance</li>
        <li>RR300 Compressor Wash/Rinse</li>
        <li>Oil/Filter Changes</li>
        <li>And much more…</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- Fly with us -->
<section class="bg-primary">
  <div class="container">
    <h2 class="text-xs-center">Fly With Us</h2>

    <div class="row">
      <div class="col-xs-12 col-md-4 text-xs-center">
        <img src="img/tours_320x320.jpg" alt="..." class="service-icon img-circle">

        <h3>Scenic Tours</h3>
        <p>Take flight along Sarasota’s coast to see its spectacular architecture and world-famous beaches, and marine wildlife.</p>
        <a class="btn btn-info" href="tours.html">Learn More</a>
      </div>

      <div class="col-xs-12 col-md-4 text-xs-center">
        <img src="img/training_320x320.jpg" alt="..." class="service-icon img-circle">

        <h3>Pilot Training</h3>
        <p>Whether you wish to start your career in rotorcraft or aquire an add-on rating. we'll help you achieve your goal.</p>
        <a class="btn btn-info" href="training.html">Learn More</a>
      </div>

      <div class="col-xs-12 col-md-4 text-xs-center">
        <img src="img/photography_320x320.jpg" alt="..." class="service-icon img-circle">

        <h3>Aerial Photography</h3>
        <p>No matter what your needs are, our experienced pilots will ensure you get the most professional results possible.</p>
        <a class="btn btn-info" href="photography.html">Learn More</a>
      </div>
    </div>
  </div>
</section>


<!-- Media -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 push-md-1 text-xs-center">
        <h2>Media</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {% include youtube.html id="sCbMTmOHstM" %}
          </div>

          <div class="col-xs-12 col-sm-6">
            {% include youtube.html id="HxAiVy9LtDM" %}
          </div>

          <div class="col-xs-12 col-sm-6">
            {% include youtube.html id="m5Wyn5a6NNo" %}
          </div>

          <div class="col-xs-12 col-sm-6">
            {% include youtube.html id="4NXrLgWLLXo" %}

          </div>

          <!--
          <div class="col-xs-12 col-sm-6">
            {% include youtube.html id="JlvWt84fnAU" %}
          </div>
          -->

          <div class="col-xs-12">
            <a href="{{ site.youtube }}" class="btn btn-primary">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Contact -->
<section class="bg-primary">
  <div class="container">
    <h2 class="text-xs-center">Contact</h2>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>You can contact us via the form on this page, by phone, or by sending email to <a href="mailto:{{ site.email }}">{{ site.email }}</a>. We can't wait to hear from you!</p>

        <a href="tel:+1-{{ site.phone }}" class="btn btn-lg btn-info"><i class="fa fa-phone" aria-hidden="true"></i> {{ site.phone }}</a>
        <br><br>

        <h4>Social</h4>
        <a href="{{ site.facebook }}"><img class="social-icon" src="img/social/facebook.png" alt="Follow on Facebook"></a>
        <a href="{{ site.instagram }}"><img class="social-icon" src="img/social/instagram.png" alt="Follow on Instagram"></a>
        <a href="{{ site.twitter }}"><img class="social-icon" src="img/social/twitter.png" alt="Follow on Twitter"></a>
        <a href="{{ site.youtube }}"><img class="social-icon" src="img/social/youtube.png" alt="Subscribe on YouTube"></a>
      </div>

      <div class="col-xs-12 col-md-6">
        {% include contact_form.html %}
      </div>
    </div>
  </div>
</section>


<!-- Location -->
<section class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3542.1133496419047!2d-82.5531913!3d27.403393!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd450477c33%3A0x6959bc0701093519!2sFlorida+Suncoast+Helicopters!5e0!3m2!1sen!2sus!4v1464462289887"></iframe>
  </iframe>
</section>
