---
layout: secondary
title: Aircraft Sales
---

<section id="overview">
  <h2>{{ page.title }}</h2>

  <div class="row">
    <div class="col-xs-12">
      <p>Florida Suncoast Helicopters is consistently the number one new helicopter dealer in the United States. We will provide you with knowledgeable service as you look to purchase a new or pre-owned helicopter. In addition to selling the Robinson R22 and R44, the Company is Florida’s only authorized dealer of the new R66 Turbine. Please call now to discuss our full inventory and discounted pricing.</p>

      {% include call-button.html %}
    </div>
  </div>
</section>

<section id="inventory">
  <h3>Current Inventory</h3>

  <div class="row">
    {% for item in site.inventory %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include product_card.html %}
        </div>
    {% endfor %}
  </div>
</section>

<section id="order">
  <h3>Available to Order</h3>

  <p>For new helicopters, the cost can be estimated by using the configurator on the <a href="http://www.robinsonheli.com/" target="_blank">Robinson website</a>. After using the configurator, please call us to discuss our discounted pricing. Flight training will be provided at no cost with the purchase of any new helicopter.</p>

  <div class="row">
    {% for item in site.inventory %}
      {% if item.status == "order" %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include product_card.html %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section id="specialty">
  <h3>Specialty</h3>

  <div class="row">
      {% for item in site.inventory %}
        {% if item.status == "specialty" %}
          <div class="col-xs-12 col-sm-6 col-md-4">
            {% include product_card.html %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
