<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
        <h5 class="white-text">Location</h5>
        <p class="grey-text text-lighten-4">
          <a class="white-text" href="https://goo.gl/maps/tTaKaPZfXq92">1244 Clyde Jones Rd<br>
          Sarasota, FL 34243</a>
        </p>
      </div>
      <div class="col s12 m6 l3 ">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col s12 m6 l3">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="https://twitter.com/suncoastheli">Twitter</a></li>
          <li><a class="white-text" href="https://www.instagram.com/fshelicopters/">Instagram</a></li>
          <li><a class="white-text" href="https://www.facebook.com/Florida-Suncoast-Helicopters-167594603293714/">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      &copy;{{ site.time | date: '%Y' }} <a class="brown-text text-lighten-3" href="{{ site.github.url }}/">Florida Suncoast Helicopters</a>
    </div>
  </div>
</footer>
