<footer>
  <div class="container text-xs-center">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h4>Florida Suncoast Helicopters</h4>

        <p>Rectrix North<br>
           Sarasota-Bradenton Intl. Airport<br>
           1244 Clyde Jones Rd<br>
           Sarasota, FL 34243</p>

        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> <a href="tel:1+{{ site.phone }}">{{ site.phone }}</a></li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }} Florida Suncoast Helicopters</p>
      </div>
    </div>
  </div>

  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
