<div class="container">
  <div class="row">
    <div class="col s12 m12 l6">
      <h4>Location</h4>
      <p>
        Rectrix North<br>
        Sarasota-Bradenton Intl. Airport<br>
        1244 Clyde Jones Rd<br>
        Sarasota, FL 34243
      </p>
    </div>
    <div class="col s12 m6 l3">
      <h4>Company</h4>
      <ul>
        <li><a href="{{ site.github.url }}/about.html">About</a></li>
        <li><a href="{{ site.github.url }}/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="col s12 m6 l3">
      <h4>Services</h4>
      <ul>
        <li><a href="{{ site.github.url }}/photography.html">Photography</a></li>
        <li><a href="{{ site.github.url }}/sales.html">Sales</a></li>
        <li><a href="{{ site.github.url }}/service.html">Service</a></li>
        <li><a href="{{ site.github.url }}/tours.html">Tours</a></li>
        <li><a href="{{ site.github.url }}/training.html">Training</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    &copy;{{ site.time | date: '%Y' }} <a href="{{ site.github.url }}/">Florida Suncoast Helicopters</a>
  </div>
</div>
