<nav role="navigation">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">FSH Logo</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Sales</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Tours</a></li>
        <li><a href="#">Training</a></li>
      </ul>
    </div>
  </div>
</nav>
