<nav role="navigation">
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a href="#" class="brand-logo">FSH Logo</a>

    <ul class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Sales</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Tours</a></li>
      <li><a href="#">Training</a></li>
    </ul>

    <ul id="slide-out" class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Sales</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Tours</a></li>
      <li><a href="#">Training</a></li>
    </ul>
  </div>
</nav>
