<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{{ site.github.url }}/" class="brand-logo">

      <img class="main-logo hide-on-med-and-down" src="{{ site.github.url }}/img/logo_300x89.gif" alt="Florida Suncoast Helicopters">
      <img class="main-logo hide-on-large-only" src="{{ site.github.url }}/img/logo_200x59.gif" alt="Florida Suncoast Helicopters">

      <!--<img class="main-logo" src="{{ site.github.url }}/img/logo.svg" alt="Florida Suncoast Helicopters">-->
    </a>

    <ul class="right hide-on-med-and-down">
      <li><a href="{{ site.github.url }}/about.html">About</a></li>
      <li><a href="{{ site.github.url }}/contact.html">Contact</a></li>
      <li><a href="{{ site.github.url }}/photography.html">Photography</a></li>
      <li><a href="{{ site.github.url }}/sales.html">Sales</a></li>
      <li><a href="{{ site.github.url }}/service.html">Service</a></li>
      <li><a href="{{ site.github.url }}/tours.html">Tours</a></li>
      <li><a href="{{ site.github.url }}/training.html">Training</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="teal lighten-2 white-text" href="{{ site.github.url }}/">Home</a></li>
      <li><a href="{{ site.github.url }}/about.html">About</a></li>
      <li><a href="{{ site.github.url }}/contact.html">Contact</a></li>
      <li><a href="{{ site.github.url }}/photography.html">Photography</a></li>
      <li><a href="{{ site.github.url }}/sales.html">Sales</a></li>
      <li><a href="{{ site.github.url }}/service.html">Service</a></li>
      <li><a href="{{ site.github.url }}/tours.html">Tours</a></li>
      <li><a href="{{ site.github.url }}/training.html">Training</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
