<!--
<div class="container">
  <div class="row">
    <div class="col s4">
      <img src="img/logo_300x89.gif" alt="Florida Suncoast Helicopters">
    </div>
    <div class="col s8">
      <span>941-355-1259</span>
    </div>
  </div>
</div>
-->

<nav role="navigation">
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a href="index.html" class="brand-logo">FSH</a>

    <ul class="right hide-on-med-and-down">
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="photography.html">Photography</a></li>
      <li><a href="sales.html">Sales</a></li>
      <li><a href="service.html">Service</a></li>
      <li><a href="tours.html">Tours</a></li>
      <li><a href="training.html">Training</a></li>
    </ul>

    <ul id="slide-out" class="side-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="photography.html">Photography</a></li>
      <li><a href="sales.html">Sales</a></li>
      <li><a href="service.html">Service</a></li>
      <li><a href="tours.html">Tours</a></li>
      <li><a href="training.html">Training</a></li>
    </ul>
  </div>
</nav>
