<!-- jQuery -->
<script src="{{ site.github.url }}/js/jquery-3.1.0.min.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="{{ site.github.url }}/js/bootstrap.min.js"></script>


<!-- Lightbox -->
<script src="{{ site.github.url }}/js/lightbox.min.js"></script>


<!-- Instafeed (https://github.com/stevenschobert/instafeed.js) -->
<script src="{{ site.github.url }}/js/instafeed.min.js"></script>

<script type="text/javascript">
    var feed = new Instafeed({
        accessToken: '687620506.4455cee.3823256713274efab9c7e9e683251315',
        clientId: '4455ceec894a4597a65aa7f5a99ccbe2'
    });
    feed.run();
</script>

<!-- Bootstrap features -->
<script>
/* Tabs */
$('#video a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$('#interior a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$('#exterior a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

</script>



<!-- Custom JavaScript -->
<script>
/* Smooth scroll to selected anchor
 * https://css-tricks.com/snippets/jquery/smooth-scrolling/
 */
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});


/* Disable Google Maps scrolling
 * See http://stackoverflow.com/a/25904582/1607849
 * Disable scroll zooming and bind back the click event
 */
var onMapMouseleaveHandler = function(event) {
    var that = $(this);
    that.on('click', onMapClickHandler);
    that.off('mouseleave', onMapMouseleaveHandler);
    that.find('iframe').css("pointer-events", "none");
}

var onMapClickHandler = function(event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
$('.map').on('click', onMapClickHandler);
</script>


<script>
/* Collapse navbar when clicking away from links.
 * http://stackoverflow.com/questions/21496304/bootstrap-collapse-component-not-closing-menu-on-clicking-away
 */
 $(document).on('click',function(e){
   if($('#mainNav').hasClass('in')){
     $('.collapse').collapse('hide');
   }
 })

 $("#scrollArrow").on('click',function(e){
   if($('#mainNav').hasClass('in')){
     $('.collapse').collapse('hide');
   }
 })

 $("#brand").on('click',function(e){
   if($('#mainNav').hasClass('in')){
     $('.collapse').collapse('hide');
   }
 })
</script>
