<div class="jumbotron jumbotron-fluid">
  <div class="jumbotron-content">
    <img class="jumbotron-logo" src="{{ site.github.url }}/img/logo_520x154.png">

    <div class="hidden-lg-down">
      <h3 class="tagline" style="font-size: 32px">Sales, Service, Tours &amp; more</h3>
    </div>

    <div class="hidden-md-down hidden-xl-up">
      <h3 class="tagline" style="font-size: 28px">Sales, Service, Tours &amp; more</h3>
    </div>

    <div class="hidden-sm-down hidden-lg-up">
      <h3 class="tagline" style="font-size: 24px">Sales, Service, Tours &amp; more</h3>
    </div>

    <div class="hidden-xs-down hidden-md-up">
      <h3 class="tagline" style="font-size: 20px">Sales, Service, Tours &amp; more</h3>
    </div>

    <div class="hidden-sm-up">
      <h3 class="tagline" style="font-size: 16px">Sales, Service, Tours &amp; more</h3>
    </div>

    {% include call-button.html %}
  </div>

  <div class="center-bottom">
    <a id="scrollArrow" class="skip-to-content-icon" href="#content"><img src="img/down_arrow_64x64.png" alt=""></a>
  </div>
</div>
