---
layout: secondary
title: Aerial Photography
---

<section id="content">
  <h2>{{ page.title }}</h2>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>We have flown boat races, real estate, news gathering, wildlife spotting, surveying, … what else? No matter what your needs are, our experienced pilots will ensure you get the most professional results possible.</p>

      <p>Please call now to schedule your photography flight.</p>

      <a class="btn btn-primary btn-lg" href="tel:+1-941-355-1259"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 941-355-1259</a>
    </div>

    <div class="co-sm-12 col-md-6">
      <img class="img-fluid" src="http://dummyimage.com/1920x1080/aaa" alt="">
    </div>
  </div>
</section>

<aside id="faqs">
  <h2>FAQs</h2>

  <div class="card">
    <div id="question-1" class="card-header">
      <a data-toggle="collapse" href="#answer-1">
        <h3>Question?</h3>
      </a>
    </div>
    <div id="answer-1" class="collapse">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>

    <div id="question-2" class="card-header">
      <a data-toggle="collapse" href="#answer-2">
        <h3>Question?</h3>
      </a>
    </div>
    <div id="answer-2" class="collapse">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>

    <div id="question-3" class="card-header">
      <a data-toggle="collapse" href="#answer-3">
        <h3>Question?</h3>
      </a>
    </div>
    <div id="answer-3" class="collapse">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

</aside>
