<div class="card">
  {% if item.status == "sold" %}
    <div class="corner-ribbon">Sold</div>
  {% endif %}

  <img class="card-img-top img-fluid" src="{{ site.github.url }}/inventory/pics/{{ item.exterior-images[0] }}" alt="Main image">

  <div class="card-block">
    <div class="card-text">
      <h4>{{ item.title }}</h4>
      <p><strong>{{ item.price | money_without_currency }}</strong><span class="text-muted"> | {{ item.condition }}</span></p>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary"href="{{ site.github.url }}{{ item.url }}">View Details</a>
  </div>
</div>
