<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ site.github.url }}/js/bin/materialize.js"></script>
<script src="{{ site.github.url }}/js/init.js"></script>

<script>
$(document).ready(function(){
  $('.slider').slider({
    full_width: true,
    height: 500
  });
});

$(document).ready(function(){
  $('.parallax').parallax();
});

// smooth scroll (https://css-tricks.com/snippets/jquery/smooth-scrolling/)
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

// select dropdown initialization
$(document).ready(function() {
  $('select').material_select();
});
</script>
