---
layout: secondary
---

<h2>{{ page.title }}</h2>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="product-thumb">
          <a href="{{ site.github.url }}/{{ page.main-image }}" data-lightbox="gallery" alt="">
            <img class="img-fluid" src="{{ site.github.url }}/{{ page.main-image }}" data-lightbox="gallery" alt="product image">
          </a>
          <i class="expand-icon fa fa-expand" aria-hidden="true"></i>
        </div>
      </div>

      {% for item in page.secondary-images %}
        <div class="col-xs-4">
          <div class="product-thumb">
            <a href="{{ site.github.url }}/{{ item }}" data-lightbox="gallery" alt="">
              <img class="img-fluid" src="{{ site.github.url }}/{{ item }}" data-lightbox="gallery" alt="product image">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <table class="table">
      <tr>
        <th>Make:</th>
        <td>{{ page.make }}</td>
      </tr>
      <tr>
        <th>Model:</th>
        <td>{{ page.model }}</td>
      </tr>
      <tr>
        <th>Year:</th>
        <td>{{ page.year }}</td>
      </tr>
      <tr>
        <th>Condition:</th>
        <td>{{ page.condition }}</td>
      </tr>
      <tr>
        <th>Hours:</th>
        <td>{{ page.hours }}</td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>{{ page.price }}</td>
      </tr>
      <tr>
        <th>Exterior:</th>
        <td>{{ page.exterior }}</td>
      </tr>
      <tr>
        <th>Interior:</th>
        <td>{{ page.interior }}</td>
      </tr>
      <tr>
        <th>Details:</th>
        <td>{{ page.long-description }}</td>
      </tr>
      {% if page.logs != null %}
      <tr>
        <th>Logs:</th>
        <td><a href="{{ site.github.url }}/{{ page.logs }}">Download Logs</a> (.pdf)</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
