---
layout: secondary
---

<h2>{{ page.title }}</h2>

<div class="row">
  <div class="col-xs-12 col-md-6">
      <ul class="nav nav-tabs">
        {% if page.youtube-id != null %}
          <li class="nav-item">
            <a class="nav-link" data-target="#video" data-toggle="tab">Video</a>
          </li>
        {% endif %}

        {% if page.exterior-images != null %}
          <li class="nav-item">
            <a class="nav-link active" data-target="#exterior" data-toggle="tab">Exterior</a>
          </li>
        {% endif %}

        {% if page.interior-images != null %}
          <li class="nav-item">
            <a class="nav-link" data-target="#interior" data-toggle="tab">Interior</a>
          </li>
        {% endif %}
      </ul>

      <div class="tab-content">
        {% if page.exterior-images != null %}
          <div class="tab-pane fade in active" id="exterior" role="tabpanel">
            <div class="row">
              <div class="col-xs-12">
                <div class="product-thumb">
                  {% if page.status == "sold" %}
                    <div class="corner-ribbon">Sold</div>
                  {% endif %}

                  {% for item in page.exterior-images limit: 1 %}
                    <a href="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery" alt="">
                      <img class="img-fluid" src="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery-exterior" alt="main image">
                    </a>
                    <i class="expand-icon fa fa-expand" aria-hidden="true"></i>
                  {% endfor %}
                </div>
              </div>

              {% for item in page.exterior-images offset: 1 %}
                <div class="col-xs-4">
                  <div class="product-thumb">
                    <a href="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery" alt="">
                      <img class="img-fluid" src="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery-exterior" alt="exterior pic">
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>

          </div>
        {% endif %}

        {% if page.interior-images != null %}
          <div class="tab-pane fade" id="interior" role="tabpanel">

            <div class="row">
              <div class="col-xs-12">
                <div class="product-thumb">
                  {% if page.status == "sold" %}
                    <div class="corner-ribbon">Sold</div>
                  {% endif %}

                  {% for item in page.interior-images limit: 1 %}
                    <a href="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery" alt="">
                      <img class="img-fluid" src="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery-interior" alt="product image">
                    </a>
                    <i class="expand-icon fa fa-expand" aria-hidden="true"></i>
                  {% endfor %}
                </div>
              </div>

              {% for item in page.interior-images offset: 1%}
                <div class="col-xs-4">
                  <div class="product-thumb">
                    <a href="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery" alt="">
                      <img class="img-fluid" src="{{ site.github.url }}/inventory/pics/{{ item }}" data-lightbox="gallery-interior" alt="interior pic">
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if page.youtube-id != null %}
          <div class="tab-pane fade" id="video" role="tabpanel">
            <div class="product-thumb">
              {% if page.status == "sold" %}
                <div class="corner-ribbon">Sold</div>
              {% endif %}

              {% include youtube.html id=page.youtube-id %}
            </div>
          </div>
        {% endif %}
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <table class="table">
      <tr>
        <th>Make:</th>
        <td>{{ page.make }}</td>
      </tr>
      <tr>
        <th>Model:</th>
        <td>{{ page.model }}</td>
      </tr>
      <tr>
        <th>Year:</th>
        <td>{{ page.year }}</td>
      </tr>
      <tr>
        <th>Condition:</th>
        <td>{{ page.condition }}</td>
      </tr>
      <tr>
        <th>Hours:</th>
        <td>{{ page.hours }}</td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>{{ page.price }}</td>
      </tr>
      <tr>
        <th>Exterior:</th>
        <td>{{ page.exterior }}</td>
      </tr>
      <tr>
        <th>Interior:</th>
        <td>{{ page.interior }}</td>
      </tr>
      <tr>
        <th>Features:</th>
        <td>{{ page.features }}</td>
      </tr>
      <!--
      {% if page.logs != null %}
      <tr>
        <th>Logs:</th>
        <td>
          {% for item in page.logs %}
            <a href="{{ site.github.url }}/inventory/logs/{{ item }}">{{ item }}</a><br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      -->
    </table>
  </div>
</div>
