---
layout: page
---

<div class="row">
  <div class="col s12 m6">
    <img src="{{ site.github.url }}/img/for-sale/{{ page.main-image }}" width="100%" alt="product image">
  </div>

  <div class="col s12 m6">
    <table>
      <tr>
        <th>Make:</th>
        <td>{{ page.make }}</td>
      </tr>
      <tr>
        <th>Model:</th>
        <td>{{ page.model }}</td>
      </tr>
      <tr>
        <th>Year:</th>
        <td>{{ page.year }}</td>
      </tr>
      <tr>
        <th>Condition:</th>
        <td>{{ page.condition }}</td>
      </tr>
      <tr>
        <th>Hours:</th>
        <td>{{ page.hours }}</td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>{{ page.price }}</td>
      </tr>
      <tr>
        <th>Exterior:</th>
        <td>{{ page.exterior }}</td>
      </tr>
      <tr>
        <th>Interior:</th>
        <td>{{ page.interior }}</td>
      </tr>
      <tr>
        <th>Avionics</th>
        <td>
          <ul>
            {% for item in page.avionics-equipment %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Options</th>
        <td>
          <ul>
            {% for item in page.options %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <p>{{ page.description }}</p>
</div>
